<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="img-container">
                <img src="/assets/images/nails.png" />
            </div>

        </div>
        <div class="col-md-6 description">
            <h3>Product Name</h3>
            <h6>{{product.productName}}</h6>
            <h3>Product Specs</h3>
            <h6 class=" mb-2 text-muted"> {{product.specs}}</h6>
            <h3>Description</h3>
            <h6 class=" mb-5 text-muted">{{product.description}}</h6>
            <h3>Price</h3>
            <h6 class=" mb-5 text-muted">{{product.price}}</h6>
            <div class="quanity mb-2 mt-3">
                <button class=" minus">  <fa-icon [icon]="faMinus"></fa-icon></button>
                <input type="number" min="1" value="0" />
                <button class=" plus">  <fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
            <button (click)="addtoCart(product._id)" class="btn btn-primary w-100 mb-5">Add to cart</button>
            <!-- Missing quanity when adding to cart -->
        </div>
    </div>