.app-navbar {
    background-color: #F0F3F5;
}

.no_list {
    list-style-type: none;
    li {
        margin: 0 5px;
        padding: 5px;
    }
}

.search {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    input {
        border: none;
    }
}

.logo img {
    width: 200px;
    margin-right: 15px;
}