<div class="container">
    <app-categories [categories]="categories"></app-categories>

    <div class="productsarea row">
        <div class="filter col-md-4">
            <p>Filter</p>
        </div>
        <div class="products col-md-8">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="img-container">
                        <img src="/assets/images/nails.jpg" />
                    </div>
                    <h5 class="card-title">Product Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Product Description</h6>
                    <p class="card-text">Price Range</p>
                    <!-- QUANTITY -->
                    <button class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>