<div class="container">
    <app-categories [categories]="selectedcategory"></app-categories>

    <div class="productsarea row">
        <!-- <div class="filter col-md-4">
            <p>Filter</p>
        </div> -->
        <div class="products row col-md-12">
            <div (click)="ViewProduct()" class="card col-md-3 ">
                <div class="card-body">
                    <div class="img-container">
                        <img src="/assets/images/nails.png" />
                    </div>
                    <h5 class="card-title">Nails</h5>
                    <h6 class="card-subtitle mb-2 text-muted">2 in. x 4 in. x 8 ft.</h6>
                    <p class="card-text">Price Range</p>
                    <!-- QUANTITY -->
                    <div class="quanity mb-2 mt-3">
                        <button class=" minus">  <fa-icon [icon]="faMinus"></fa-icon></button>
                        <input type="number" min="1" value="0" />
                        <button class=" plus">  <fa-icon [icon]="faPlus"></fa-icon></button>
                    </div>
                    <button class="btn btn-primary w-100">Add to cart</button>
                </div>
            </div>

            <div class="card col-md-3 ">
                <div (click)="ViewProduct()" class="card-body">
                    <div class="upper">
                        <div class="img-container">
                            <img src="/assets/images/nails.png" />
                        </div>
                        <h5 class="card-title">Nails</h5>
                        <h6 class="card-subtitle mb-2 text-muted">2 in. x 4 in. x 8 ft.</h6>
                    </div>
                    <div class="lower">
                        <p class="card-text">40$</p>
                        <div class="quanity mb-2 mt-3">
                            <button class=" minus">  <fa-icon [icon]="faMinus"></fa-icon></button>
                            <input type="number" min="1" value="0" />
                            <button class=" plus">  <fa-icon [icon]="faPlus"></fa-icon></button>
                        </div>
                        <button class="btn btn-primary w-100">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="card col-md-3 ">
                <div (click)="ViewProduct()" class="card-body">
                    <div class="img-container">
                        <img src="/assets/images/nails.png" />
                    </div>
                    <h5 class="card-title">Nails</h5>
                    <h6 class="card-subtitle mb-2 text-muted">2 in. x 4 in. x 8 ft.</h6>
                    <p class="card-text">Price Range</p>
                    <!-- QUANTITY -->
                    <div class="quanity mb-2 mt-3">
                        <button class=" minus">  <fa-icon [icon]="faMinus"></fa-icon></button>
                        <input type="number" min="1" value="0" />
                        <button class=" plus">  <fa-icon [icon]="faPlus"></fa-icon></button>
                    </div>
                    <button class="btn btn-primary w-100">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>