<div class="container">
    <form class="">
        <label>Company Name</label>
        <input class="mb-2" type="text" placeholder="Name" />

        <label>Company Email</label>
        <input class="mb-2" type="email" placeholder="Company Email" />

        <label>Company Address </label>
        <input class="mb-2" type="text" placeholder="Company Address" />

        <label>Company Address </label>
        <input class="mb-2" type="text" placeholder="Company Address" />

        <label>Tax Number</label>
        <input class="mb-2" type="text" placeholder="Tax Number" />


        <button class="btn btn-primary w-100 mt-4">Create Company</button>
    </form>
</div>