<div class="container">
    <h3 class="text-center">Current Companies</h3>
    <div class="search mb-4">
        <div class="d-flex">
            <div class="w-100">
                <input placeholder="Search by company name" type="search" id="form1" class="form-control text-center" [(ngModel)]="companyusername" />
            </div>
            <button (click)="search()"type="button" class="btn no-btn">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
    </div>

    <!-- <div class="row"> -->
    <!-- Admin can filter(Has filter div) NOT DONE -->
    <div *ngFor="let company of companies" (click)="viewCompany(company._id)" class="card mb-2">
        <div class="card-body ">
            <div class="row">
                <div class="img-container col-md-4">
                    <img src="/assets/images/employee.jpg" alt="Avatar">
                </div>
                <div class="info  col-md-8">
                    <h5 class="card-title">Name: {{company.name}}</h5>
                    <h5 class="card-title">Email: {{company.email}}</h5>
                    <h5 class="card-title">Mobile Number: {{company.companyNumber}}</h5>
                    <h5 class="card-title">Address: {{company.address}}</h5>
                </div>
            </div>


        </div>

        <!-- </div> -->


    </div>