<div class="container">
    <div class="row">
        <div class=" img-container  col-md-2 mb-5">
            <img src="/assets/images/employee.jpg" alt="Avatar">
            <!-- <img src="/assets/images/bigorder.jpg" alt="Avatar" /> -->
        </div>
    </div>
    <div>
        <form class="">
            <div *ngIf="User!=null && edit==false ">
                <label>First Name</label>
                <input class="mb-2" type="text" value={{User.firstname}} readonly />

                <label>Last Name</label>
                <input class="mb-2" type="text" value={{User.lastname}} readonly />

                <label>Username</label>
                <input class="mb-2" type="text" value={{User.username}} readonly />

                <label>Email</label>
                <input class="mb-2" type="email" value={{User.email}} readonly />

                <label>Mobile Number </label>
                <input class="mb-2" type="tel" value={{User.mobileNumber}} readonly />

                <label>Date of birth</label>
                <input class="mb-2" type="date" value={{User.dateOfBirth}} readonly />

                <label>National ID</label>
                <input class="mb-2" type="text" value={{User.nationalID}} readonly />

                <label>Level</label>
                <input class="mb-2" type="text" value={{User.employeeLevel}} readonly />

                <label>Limit</label>
                <input class="mb-2" type="number" value={{User.limit}} readonly />

                <label>Wallet</label>
                <input class="mb-2" type="number" value={{User.wallet}} readonly />


                <button (click)="saveInfo()" class="btn btn-primary w-100 mt-4">Edit Info</button>
            </div>



            <div *ngIf="User!=null && edit==true ">
                <label>First Name</label>
                <input class="mb-2" type="text" value={{User.firstname}} />

                <label>Last Name</label>
                <input class="mb-2" type="text" value={{User.lastname}} />

                <label>Username</label>
                <input class="mb-2" type="text" value={{User.username}} />

                <label>Email</label>
                <input class="mb-2" type="email" value={{User.email}} />

                <label>Enter New Password</label>
                <input class="mb-2" type="password" value={{User.password}} />

                <label>Mobile Number </label>
                <input class="mb-2" type="tel" value={{User.mobileNumber}} />

                <label>Date of birth</label>
                <input class="mb-2" type="date" value={{User.dateOfBirth}} />

                <label>National ID</label>
                <input class="mb-2" type="text" value={{User.nationalID}} />


                <button (click)="saveInfo()" class="btn btn-primary w-100 mt-4">Update Info</button>
            </div>
            <!-- HOW? -->
            <!-- <label>Personal Image</label>
        <input class="mb-2" type="text" placeholder="Personal Image" /> -->

            <!--  -->





        </form>
    </div>