<div class="container">
    <div class="row">
        <div class=" img-container  col-md-2 mb-5">
            <img src="/assets/images/employee.jpg" alt="Avatar">
            <!-- <img src="/assets/images/bigorder.jpg" alt="Avatar" /> -->
        </div>
    </div>
    <div>
        <form class="">
            <label>{{User.firstname}}</label>
            <input class="mb-2" type="text" value="Omar" readonly />

            <label>Last Name</label>
            <input class="mb-2" type="text" value="Rifky" readonly />

            <label>Username</label>
            <input class="mb-2" type="text" value="omarrifky" readonly />

            <label>Email</label>
            <input class="mb-2" type="email" value="omarrifky@gmail.com" readonly />

            <label>Password</label>
            <input class="mb-2" type="password" value="1234567" readonly />

            <label>Mobile Number </label>
            <input class="mb-2" type="tel" value="01004848737" readonly />

            <label>Date Of Birth</label>
            <input class="mb-2" type="date" value="1997-10-05" readonly />

            <label>National ID</label>
            <input class="mb-2" type="text" value="12345673939" readonly />

            <label>Employee Level</label>
            <input class="mb-2" type="text" value="CompanyAdmin" readonly />


            <label>Employee Limit</label>
            <input class="mb-2" type="number" value="100000" readonly />

            <!-- HOW? -->
            <!-- <label>Personal Image</label>
        <input class="mb-2" type="text" placeholder="Personal Image" /> -->

            <!--  -->




            <button class="btn btn-primary w-100 mt-4">Edit User</button>
        </form>
    </div>