<div class="container">
    <div class=" row ">
        <div class="col-md-7">
            <h1>
                Building Materials, Exactly When You Need Them Save time and money with Mongez’s online store and fast delivery
            </h1>
            <h5>
                Save time and money with Mongez’s online store and fast delivery
            </h5>
            <button (click)="GoToProducts()" class="btn btn-primary btn-lg">Shop Now</button>
        </div>
        <div class="col-md-5">
            <!-- TODO IMAGE -->
        </div>
    </div>
    <div class="categories mt-5 text-center">
        <h3>
            Order in Minutes & Get Same-Day Delivery
        </h3>
        <h4>
            Over 17,000+ products from brands you know and trust
        </h4>
        <div class="logos">
            <!-- TODO -->
        </div>
        <p>
            & hundreds more
        </p>
        <app-categories [categories]="categories"></app-categories>
        <button (click)="GoToProducts()" class=" btn btn-primary btn-lg">Shop Now</button>
    </div>
    <div class=" row bigdeals">
        <div class="col-md-7">
            <h1>
                Big Orders? No Problem.
            </h1>
            <h5>
                No matter the size of your projects, our expert team has you covered, without the expensive price tag.
            </h5>
            <button class="btn btn-primary btn-lg">Create Bid</button>
        </div>
        <div class="col-md-5">
            <!-- TODO IMAGE -->
        </div>
    </div>
</div>