<div class="container">
    <form class="">
        <label>First Name</label>
        <input class="mb-2" type="text" value="Ahmed" readonly/>

        <label>Last Name</label>
        <input class="mb-2" type="text" value="Samir" readonly />

        <label>Username</label>
        <input class="mb-2" type="text" value="ahmedsamir" readonly />

        <label>Email</label>
        <input class="mb-2" type="email" value="ahmedsamir@gmail.com" readonly />

        <label>Password</label>
        <input class="mb-2" type="password" value="Ahmedsamir1234" readonly />

        <label>Mobile Number </label>
        <input class="mb-2" type="tel" value="01158830910" readonly />

        <label>Date Of Birth</label>
        <input class="mb-2" type="date" value="10-June-1997" readonly/>

        <label>National ID</label>
        <input class="mb-2" type="text" value="123903300020" readonly />

        <label>Company Name</label>
        <input class="mb-2" type="text" value="Hadeed Ezz" readonly />


        <label>Tax Number</label>
        <input class="mb-2" type="text" value="1234544544" readonly />

        <!-- HOW?? -->
        <label>Official Documents</label>
        <input class="mb-2" type="text" placeholder="Official Documents" />

        <label>Personal Image</label>
        <input class="mb-2" type="text" placeholder="Personal Image" />

        <!--  -->



        <button class="btn btn-primary w-100 mt-4">Edit Supplier</button>
    </form>
</div>