<div class="container">
    <form class="">
        <label>Company Name</label>
        <input class="mb-2" type="text" value="Orascom" readonly/>

        <label>Company Email</label>
        <input class="mb-2" type="email" value="Orascom@gmial.com" readonly />

        <label>Company Address </label>
        <input class="mb-2" type="text" value="Mohandseen" readonly />

        <label>Company Number </label>
        <input class="mb-2" type="tel" value="01004848737" readonly />

        <label>Tax Number</label>
        <input class="mb-2" type="text" value="123456789" readonly />


        <button class="btn btn-primary w-100 mt-4">Edit Company</button>
    </form>
</div>