<div class="container">
    <div class="row">
        <div class=" img-container  col-md-2 mb-5">
            <img src="/assets/images/orascom.png" alt="Avatar">
            <!-- <img src="/assets/images/bigorder.jpg" alt="Avatar" /> -->
        </div>
    </div>
    <form class="">
        <div *ngIf="Company!=null && edit==false">
            <label>Company Name</label>
            <input class="mb-2" type="text" value={{Company.name}} readonly/>

            <label>Email</label>
            <input class="mb-2" type="email" value={{Company.email}} readonly />

            <label>Address</label>
            <input class="mb-2" type="text" value={{Company.address}} readonly />

            <label>Company Number</label>
            <input class="mb-2" type="tel" value={{Company.companyNumber}} readonly />

            <label>Tax Number</label>
            <input class="mb-2" type="text" value={{Company.TaxNumber}} readonly />


            <button (click)="saveInfo()" class="btn btn-primary w-100 mt-4">Edit Info</button>
        </div>

        <div *ngIf="Company!=null && edit==true">
            <label>Company Name</label>
            <input class="mb-2" type="text" value={{Company.name}}/>

            <label>Email</label>
            <input class="mb-2" type="email" value={{Company.email}} readonly />

            <label>Address</label>
            <input class="mb-2" type="text" value={{Company.address}} readonly />

            <label>Company Number</label>
            <input class="mb-2" type="tel" value={{Company.companyNumber}} readonly />

            <label>Tax Number</label>
            <input class="mb-2" type="text" value={{Company.TaxNumber}} readonly />


            <button (click)="saveInfo()" class="btn btn-primary w-100 mt-4">Save Info</button>
        </div>

    </form>
</div>