<div class="container">
    <form class="">
        <label>Product Name</label>
        <input class="mb-2" type="text" placeholder="Product Name" />

        <label>Product Description</label>
        <input class="mb-2" type="text" placeholder="Product Description" />

        <label>Products Specs</label>
        <input class="mb-2" type="text" placeholder="Username" />
        <!-- HOW? -->
        <label>Price Range</label>
        <input class="mb-2" type="text" placeholder="Price" />
        <!--  -->
        <label>Quantity</label>
        <input class="mb-2" type="number" placeholder="Quantity" />

        <label>Category </label>
        <input class="mb-2" type="text" placeholder="Category" />

        <label>SubCategory</label>
        <input class="mb-2" type="text" placeholder="SubCategory" />

        <!-- HOW? -->
        <label>Product Photos</label>
        <input class="mb-2" type="text" placeholder="Product Photos" />

        <!--  -->




        <button class="btn btn-primary w-100 mt-4">Create Product</button>
    </form>
</div>