/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

button,
button:focus {
    outline: none;
}

.no-btn {
    border: none;
    background-color: transparent;
}

.btn-primary {
    background-color: #F56A00;
    border-color: #F56A00;
}

.btn-primary:hover {
    background-color: #FE5000;
    border-color: #FE5000;
}

a {
    color: #000;
}

a:hover {
    color: #FE5000;
    text-decoration: underline;
}

.error {
    color: firebrick;
}