/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

button,
button:focus {
    outline: none;
}

.no-btn {
    border: none;
    background-color: transparent;
}

.btn-primary {
    background-color: #F56A00;
    border-color: #F56A00;
}

.btn-primary:hover {
    background-color: #FE5000;
    border-color: #FE5000;
}

a {
    color: #000;
}

a:hover {
    color: #FE5000;
    text-decoration: underline;
}

.error {
    color: firebrick;
}

html,
body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

lib-ng-simple-sidebar .dock {
    z-index: 999999;
    position: fixed !important;
    height: 100% !important;
    width: 0 !important;
    padding: 0 !important;
    /* transition: width 0.25s linear !important; */
    visibility: hidden;
    opacity: 0;
}

lib-ng-simple-sidebar .dock.dock-open {
    width: auto !important;
    padding: 15px !important;
    visibility: visible;
    opacity: 1;
}