.img-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 70%;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
    }
}

.search {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    input {
        border: none;
        align-self: center;
        height: 100%;
    }
}

.card-title {
    font-size: 20px;
}

.users {
    width: 90%;
}

.card {
    cursor: pointer;
    padding: 15px;
    border: none;
    .card-body {
        background-color: white;
        box-shadow: rgb(0 0 0 / 10%) 0px 1px 5px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover {
            box-shadow: rgb(0 0 0 / 20%) 0px 1px 10px;
        }
    }
}

button {
    border-radius: 0;
    min-width: 40px;
    background-color: #F0F3F5;
    color: #F56A00;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    &.plus {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &.minus {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    &:hover {
        background-color: #DADEE1;
    }
}

button.btn-primary {
    border-radius: 8px;
    font-size: 16px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0px 5px 12px #eee;
    &.ng-touched {
        &.ng-invalid {
            border: 1px solid rgba(185, 40, 40, 0.384);
        }
    }
}

.f_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    button {
        margin: 10px 0;
    }
}