<div class="container">
    <h3 class="text-center">Current Users</h3>
    <div class="search mb-4">
        <div class="d-flex">
            <div class="w-100">
                <input placeholder="Search by username" type="search" id="form1" class="form-control text-center" />
            </div>
            <button type="button" class="btn no-btn">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
    </div>

    <!-- <div class="row"> -->
    <!-- Admin can filter(Has filter div) NOT DONE -->
    <div *ngFor="let user of users" (click)="viewUser()" class="card mb-2">
        <div class="card-body ">
            <div class="row">
                <div class="img-container col-md-4">
                    <img src="/assets/images/employee.jpg" alt="Avatar">
                </div>
                <div class="info  col-md-8">
                    <h5 class="card-title">Name: {{user.firstname}} {{user.lastname}}</h5>
                    <h5 class="card-title">Username: {{user.username}}</h5>
                    <h5 class="card-title">Email: {{user.email}}</h5>
                    <h5 class="card-title">Mobile Number: {{user.mobileNumber}}</h5>
                    <h5 class="card-title">Level: {{user.employeeLevel}}</h5>

                </div>
            </div>


        </div>

        <!-- </div> -->


    </div>